# Copia este archivo a .env y cambia los valores
DATABASE_URL=postgres://sirbe:cambia_esta_clave@localhost:5432/sirbe
JWT_SECRET=genera-una-cadena-larga-y-aleatoria
ADMIN_EMAIL=admin@colegio.edu
ADMIN_PASSWORD=CambiaEstaClave123
PG_PASSWORD=cambia_esta_clave
PORT=3000
